<% if flash[:notice] %>
  <div class="bg-green-50 border-b border-green-100 text-green-800">
    <div class="mx-auto max-w-4xl p-4 sm:px-6 lg:px-8">
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>
