<nav class="border-b border-gray-200 bg-white">
  <div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
    <div class="flex items-center">
      <%= link_to "Rosetta", root_path, class: "text-xl font-bold" %>
    </div>
  </div>
</nav>
